ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}



  .calca{
    width: 100px;
  }

.moletom{
  width: 100px;
}

.camiseta{
  width: 100px;
}
.tn{
  width: 100px;
}

.bbjc{
  width: 100px;
}

.chinelo{
  width: 100px;
}


header {
  background-color: #FF0000;
  padding: 20px;
  text-align: center;
}



<
<footer>
    <p>&copy; G&C.Emporium2024</p>
</footer>


.footer {
  background-color: #FF0000;

}

nav a {
  color: #000000;
  text-decoration: none;
}

